/************ Topbar-section start **************/

#searchBar{
    align-items: stretch;
    flex-grow: 1;
    margin: 0 0 0 10px;
    border-color: rgba(0, 0, 0, 0);
}

#id-top-menu{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    align-self: center;
    justify-self: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: flex;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    color: black;
    font-size: small;
    text-decoration: none;
    display: block;
  }

  .menuBtn{
    width: 100%;
    height: 25px;
    border: none;
    text-align: left;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

#userIcon{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    background-color: gray;
    border-radius: 30px;
}

/*############ Topbar-section end ##############*/

/************ filter-section start **************/

.filter-section{
    display: flex;
    margin: 20px 10px 20px 10px;
    height: 100px;
    background-color: white;
}

#filter-title{
    flex-grow: 1;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#filter-title h3{
    color: rgb(128, 128, 128);
    font-weight: bold;
}

#filter-contents{
    margin-top: 1px;
    margin-bottom: auto;
    margin-right: 20px;
}

#station-filter{
    width: 160px;
}

#date-filter{
    width: 160px;
    margin-bottom: 7px;
}

.emp-textbox{
    border: none;
    border-radius: 3px;
    background-color: rgb(224, 224, 224);
}

.emp-textbox:focus{
    background-color: rgb(214, 214, 214);
    outline:none;
}

.filter-labels{
    margin: 0 0 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

#clearFilterBtn{
    width: 110px;
    height: 31px;
    margin-right: 7px;
    border: none;
    border-radius: 3px;
    background-color: gray;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#clearFilterBtn:hover{
    background-color: rgb(92, 92, 92);
}

#deleteEmpBtn{
    width: 90px;
    height: 31px;
    margin-right: 7px;
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 72, 72);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#deleteEmpBtn:disabled{
    visibility: hidden;
}

#deleteEmpBtn:enabled{
    visibility: visible;
}

#addEmpBtn{
    width: 107px;
    height: 31px;
    border: none;
    border-radius: 3px;
    background-color: #7e76a3;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

#addEmpBtn:hover{
    background-color: #696190;
}

.test-select{
    width: 160px;
    height: 28px;
    border: none;
    border-radius: 3px;
    background-color: rgb(224, 224, 224);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.test-select:focus{
    outline: none;
}

.select_option{
    color: rgb(114, 114, 114);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

/*############ filter-section end ##############*/

/************ table-section start **************/
.table-section{
    margin: 20px 10px 20px 10px;
    height: 440px;
    background-color: white;
    /*border: solid 1px black;*/
}

.table-content{
    width: 100%;
}

th{
    color: white;
    background-color: #36324A;
    padding: 5px 10px 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

th:hover{
    cursor: pointer;
}

tr{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

td{
    padding: 5px 10px 5px 10px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover{
    background-color: #dddddd;
}
/*############ table-section end ##############*/

/************ modal-section start **************/
.emp-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    height: 250px;
    width: 600px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2),
                0px 7px 20px 0px rgba(0, 0, 0, 0.17);

    animation-name: openModal;
    animation-duration: 500ms;
}

.modal-header{
    padding: 10px 10px 0px 10px;
    background-color: #36324A;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.modalHeaderTitle{
    color: white;
}

.modal-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
}

.modal-buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 30px;
}

.modal-labels{
    margin: 10px 0 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

.modal_inputs{
    height: 30px;
    font-size: 14px;
    padding-left: 5px;
    border: none;
    border-radius: 3px;
    background-color: rgb(224, 224, 224);
}

#new-token{
    width: 120px;
}

#new-name{
    width: 350px;
}

#new-gender{
    width: 120px;
}

#new-contact{
    width: 170px;
}

#new-doj{
    width: 170px;
}

#new-role{
    width: 135px;
}

#new-shift{
    width: 135px;
}

#new-language{
    width: 135px;
}

#new-weeklyOff{
    width: 135px;
}

#emp-station-modal{
    width: 250px;
}

#emp-modal-box-id{
    height: 305px;
    width: 700px;
}

#stage-modal-box-id{
    height: 180px;
    width: 400px;
}

#station-modal-box-id{
    height: 180px;
    width: 400px;
}

#shift-modal-box-id{
    height: 185px;
    width: 420px;
}

#stage-modal-body-id{
    height: 50px;
}

#station-modal-body-id{
    height: 50px;
}

#shift-modal-body-id{
    height: 50px;
}

#shift-modal-body-id{
    height: 50px;
}

#new-start-time{
    width: 100px;
}

#new-end-time{
    width: 100px;
}

.modalCancelBtn{
    border: 0;
    box-shadow: none;
    background-color: gray;
    color: white;
    border-radius: 3px;
    margin-right: 10px;
    width: 120px;
}

.modalCancelBtn:hover{
    background-color: rgb(92, 92, 92);
}

.modalSubmitBtn{
    width: 120px;
    height: 32px;
    border: 0;
    box-shadow: none;
    background-color: #7e76a3;
    color: white;
    border-radius: 3px;
}

.modalSubmitBtn:hover{
    background-color: #696190;
}

/*############ modal-section end ##############*/

/************ Animations start **************/
@keyframes openModal{
    from { opacity: 0; }
    to { opacity: 1; }
}
/*############ Animations end ##############*/