{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height= device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Dashboard</title>
</head>
<body>
    <div class= "full-page">
<!--Left side nav-->
            <div class="sidenav">
    <!--Side nav list items-->
                <ul class= "sidenav-list">
                    <li>
                        <div class="list-item">
                            <a href="./dashboard">
                                <img src="{% static 'images/white/icon_white_dashboard.svg' %}"/>
                                <h6>Dashboard</h6>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <a href="./employee">
                                <span><img src="{% static 'images/white/icon_white_employee.svg' %}"/></span>
                                <h6>Employees</h6>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <a href="./test">
                                <span><img src="{% static 'images/white/icon_white_test.svg' %}"/></span>
                                <h6>Manage Tests</h6>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <a href="./test">
                                <span><img src="{% static 'images/white/icon_white_test.svg' %}"/></span>
                                <h6>Skill Management</h6>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <a href="./test">
                                <span><img src="{% static 'images/white/icon_white_test.svg' %}"/></span>
                                <h6>Shift Management</h6>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <a href="./test">
                                <span><img src="{% static 'images/white/icon_white_test.svg' %}"/></span>
                                <h6>Training Plan</h6>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
    <!--########### Side nav list items - END ###########-->
<!--########### Left Side bar - END ###########-->
            <div class="main-section">
                <div class="topbar">
                    <div class="dropdown">
                        <img src="{% static 'images/black/icon_black_menu.svg' %}" id="id-top-menu" class="dropBtn" alt="Hamburger Icon"/>
                        <div class="dropdown-content">
                          <button id="id=stationMenu" class="menuBtn">Add Station</button>
                          <button id="id-stageMenu" class="menuBtn">Add Stage</button>
                          <button id="" class="menuBtn">Add something new</button>
                        </div>
                    </div>
                    <div id="userIcon"></div>
                </div>
                
                <div class="filter-section">

                </div>

                <div class="table-content">

                </div>
            </div>
    </div>
</body>
</html>
