{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height= device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/skill.css' %}">
    <title>Skill Management</title>
</head>
<body>
    <div class= "full-page">
<!--Left side nav-->
            <div class="sidenav">
    <!--Side nav list items-->
                <ul class= "sidenav-list">
                    <li>
                        <div class="list-item">
                            <a href="./dashboard">
                                <img src= "{% static 'images/white/icon_white_dashboard.svg' %}"/>
                                <h6>Dashboard</h6>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <a href="./employee">
                                <span><img src="{% static 'images/white/icon_white_employee.svg' %}"/></span>
                                <h6>Employees</h6>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <a href="./test">
                              <span><img src="{% static 'images/white/icon_white_test.svg' %}"/></span>
                              <h6>Manage Tests</h6>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <a href="./skillPlatform">
                                <span><img src="{% static 'images/white/icon_white_test.svg' %}"/></span>
                                <h6>Skill Management</h6>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <a href="#">
                                <span><img src="{% static 'images/white/icon_white_test.svg' %}"/></span>
                                <h6>Shift Management</h6>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <a href="#">
                                <span><img src="{% static 'images/white/icon_white_test.svg' %}"/></span>
                                <h6>Training Plan</h6>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
    <!--########### Side nav list items - END ###########-->
<!--########### Left Side bar - END ###########-->

<!--Main Section-->
            <div class="main-section">
                <div class="topbar">
                  <img src="{% static 'images/black/icon_black_menu.svg' %}" id="id-top-menu" class="menuBtn" alt="Hamburger Icon"/>
                  <input id="searchBar" type="text" placeholder="Search employee">
                  <div id="userIcon"></div>
                </div>
    <!--Filter section-->
                <div class="filter-section">
                  <div id="filter-title"><h3>Manpower Multi Skill Format</h3></div>
                  <div id="filter-contents">
                    <div style="display: flex;">
                        <div>
                            <label class="filter-labels">Select Station</label><br>
                            <select id="station-filter" class="test-select">
                                <option  class="select_option" selected="selected">Select Station</option>
                                <option class="select_option">Station 1</option>
                                <option class="select_option">Station 2</option>
                                <option class="select_option">Station 3</option>
                                <option class="select_option">Station 4</option>
                            </select>
                          </div>
                          <div style="margin-left: 10px;">
                            <label class="filter-labels">Select Shift</label><br>
                            <select id="stage-filter" class="test-select">
                                <option  class="select_option" selected="selected">Select Stage</option>
                                <option class="select_option">Shift 1</option>
                                <option class="select_option">Shift 2</option>
                                <option class="select_option">Shift 3</option>
                                <option class="select_option">Shift 4</option>
                            </select><br>
                          </div>  
                          <div style="margin-left: 10px;">
                            <label class="filter-labels">Weekly Off</label><br>
                            <select id="stage-filter" class="test-select">
                                <option  class="select_option" selected="selected">Select Stage</option>
                                <option class="select_option">Monday</option>
                                <option class="select_option">Tuesday</option>
                                <option class="select_option">Wednesday</option>
                                <option class="select_option">Thursday</option>
                                <option class="select_option">Friday</option>
                                <option class="select_option">Saturday</option>
                                <option class="select_option">Sunday</option> 
                            </select><br>
                          </div>
                      </div>
                        <div style="float: right;"> 
                          <button type="button" id="deleteEmpBtn" class="delete-button" disabled>Delete</button>
                          <button type="button" id="clearFilterBtn" class="delete-button">Clear Filters</button>
                          <button type="button" id="addEmpBtn" class="create-button">+ Employee</button>                
                        </div>
                    </div>
                </div>
    <!--########### Filter Section - END ###########-->

    <!--Modal section-->
            <div id="emp-modal-id" class="emp-modal">
              <div class="modal-box">
                <form action="./add_newEmp" method="POST">
                  {% csrf_token %}
                  <header class="modal-header">
                    <div class="modalHeaderTitle">
                      <h5>Add Employee</h5>
                    </div>
                  </header>
                  <div class="modal-body">
                    <div>
                      <label class="modal-labels">Token No</label><br>
                      <input id="new-token" class="emp-textbox modal_inputs" name="new_token" type="number" placeholder="Token">
                    </div>
                    <div>
                      <label class="modal-labels">Name</label><br>
                      <input id="new-name" class="emp-textbox modal_inputs" name="new_name"  type="text" placeholder="Name">
                    </div>
                    <div>
                      <label class="modal-labels">Gender</label><br>
                      <input id="new-gender" class="emp-textbox modal_inputs" name="new_gender"  type="text" placeholder="Gender">
                    </div>
                    <div>
                      <label class="modal-labels">Contact</label><br>
                      <input id="new-contact" class="emp-textbox modal_inputs" name="new_contact" type="tel" placeholder="Contact">
                    </div>
                    <div>
                      <label class="modal-labels">Current Station</label><br>
                      <input id="new-station" class="emp-textbox modal_inputs" name="new_station" type="text" placeholder="Station Name">
                    </div>
                    <div>
                      <label class="modal-labels">Doj</label><br>
                      <input id="new-doj" class="emp-textbox modal_inputs" name="new_doj" type="date" placeholder="Doj">
                    </div>
                    <div class="modal-buttons">
                      <button id="cancelEmpBtn" type="cancel">Cancel</button>
                      <button id="submitEmpBtn" class ="emp-textbox" type="submit">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div id="station-modal-id" class="emp-modal">
              <div class="modal-box">
                <form action="./add_newStation" method="POST">
                  {% csrf_token %}
                  <header class="modal-header">
                    <div class="modalHeaderTitle">
                      <h5>Add Station</h5>
                    </div>
                  </header>
                  <div class="modal-body">
                    <div>
                      <label class="modal-labels">Station Name</label><br>
                      <input id="new-station-name" class="emp-textbox modal_inputs" name="new_stationName"  type="text" placeholder="Station name">
                    </div>

                    <div>
                      <label class="modal-labels">Required Manpower</label><br>
                      <input id="new-station-requiredManpower" class="emp-textbox modal_inputs" name="new_requiredManpower" type="tel" placeholder="Required Manpower">
                    </div>

                    <div class="modal-buttons">
                      <button id="cancelStationBtn" type="cancel">Cancel</button>
                      <button id="submitStationBtn" class ="emp-textbox" type="submit">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div id="stage-modal-id" class="emp-modal">
              <div class="modal-box">
                <form action="./add_newStation" method="POST">
                  {% csrf_token %}
                  <header class="modal-header">
                    <div class="modalHeaderTitle">
                      <h5>Add Stage</h5>
                    </div>
                  </header>
                  <div class="modal-body">
                    <div>
                      <label class="modal-labels">Stage Name</label><br>
                      <input id="new-stage-name" class="emp-textbox modal_inputs" name="new_stageName"  type="text" placeholder="Stage Name">
                    </div>

                    <div>
                      <label class="modal-labels">Skill Level</label><br>
                      <input id="new-skill-level" class="emp-textbox modal_inputs" name="new_skillLevel" type="number" placeholder="Skill Level">
                    </div>

                    <div class="modal-buttons">
                      <button id="cancelStageBtn" type="cancel">Cancel</button>
                      <button id="submitStageBtn" class ="emp-textbox" type="submit">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
    <!--########### Modal Section - END ###########-->

    <!--Table section-->
                <div class="table-section">
                    <table id="id_EmpList" class="table-content">
                        <tr>    
                            <th>Sr. No.</th>
                            <th>Name</th>
                            <th>M6-B Front Cover Torquing</th>
                            <th>M6-C Front Cover Bolts</th>
                            <th>M7-A ROSR torquing,pully</th>
                            <th>M7-B ROSR Selant Application</th>
                            <th>M8-B Oil Pan Torquing</th>
                            <th>M9-A Spill Cut-off Operation</th>
                            <th>M9-A FIP Back Side Bolts</th>
                            <th>OSA-1-A Camshaft Idler Oil Pump</th>
                            <th>OSA-2-A Front Cover Sub</th>
                            <th>PSA-A Piston Ring Insertion</th>
                            <th>PSA-B Con Rod Cap Removal</th>
                            <th>PSA-C Piston-Con Rod Subassy</th>
                            <th>QP1-A Qp1 Torquing</th>
                        </tr>
                    </table>
                </div>
                  
    <!--########### Table Section - END ###########-->
            </div>
<!--########### Main Section - END ###########-->
    </div>

    <script src="{% static '/js/skill.js' %}"></script>
</body>
</html>