{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/testDetail.css' %}">
    <title>Edit Test Details</title>
</head>
<body>
    <div class="topbar">
        <input id="titlebar" type="text" placeholder="The Title of the page will be displayed here">
        <div id="userIcon"></div>
    </div>

    <div class="full-page">

        <div id="left-panel">
            <button id="addQuestionBtn" class="basicBtn">Add Question</button>
            <div style="width: 160px;">
                <label class="modal_labels">Station</label><br>
                <select id="new-station" class="test-select">
                    <option  class="select_option" selected="selected" disabled>Select Station</option>
                </select>
            </div>

            <div style="width: 160px;">
                <label class="modal_labels">Stage</label><br>
                <select id="new-stage" class="test-select">
                    <option  class="select_option" selected="selected" disabled>Select Stage</option>
                </select>
            </div>

            <div style="width: 160px;">
                <label class="modal_labels">Total Questions</label><br>
                <input id="new-questionNo" class="test-textbox modal_inputs" type="number" placeholder="Questions">
            </div>

            <div style="width: 160px;">
                <label class="modal_labels">Time</label><br>
                <input id="new-time" class="test-textbox  modal_inputs" type="number" placeholder="Time (mins)">
            </div>

            <div style="width: 160px;">
                <label class="modal_labels">Passing Marks</label><br>
                <input id="new-marks" class="test-textbox modal_inputs" type="number" placeholder="Marks">
            </div>

            <div style="width: 200px; display: flex; flex-direction: row; justify-content: space-between;">
                <button id="cancelTestBtn" class="basicBtn">Cancel</button>
                <button id="createTestBtn" class="basicBtn">Submit</button>
            </div>
        </div>
        <div id="mid-panel">
            <ul id="questionList" class="question-list">
                <!--<li style="border-bottom: solid 2px rgb(228, 227, 227);">
                    <div id="id-list-item-card" class="list-item-card">
                        <div id="id-questionRow" class="question-row">
                            <h5 id="id-listQuestionNo" class="mid_questionNo">1. </h5>
                            <h5 id="id-listQuestion" class="question">is this Some stupid question that will be displayed to the test user?</h5>
                        </div>
                        <div id="id-option-row" class="option-row">
                            <h6 class="option">a. Option 1</h6>
                            <h6 class="option">b. Option 2</h6>
                        </div>
                        <div id="id-option-row2" class="option-row">
                            <h6 class="option">c. Option 3</h6>
                            <h6 class="option">d. Option 4</h6>
                        </div>
                    </div>
                </li>-->
            </ul>
        </div>
        <div id="right-panel">
            <div style="display: flex; align-items: flex-start; width: 100%; padding: 0px 20px 25px 0px;">
                <h6 class="subHeading">Edit Question</h6>
            </div>

            <div class="right-panel-row-question">
                <h6 id="right-panel-questionNo">1.</h6>
                <input id="input-questionEdit" class="test-textbox" type="text" placeholder="Edit question">
            </div>
            <h6 class="subHeading">Options</h6>
            <div class="right-panel-row">
                <input id="edit-radio1" class="right-panel-radio" type="radio" name="correctOption" value="option 1">
                <input id="edit-option1" class="test-textbox right_panel_inputs" type="text" placeholder="Option A">
            </div>
            <div class="right-panel-row">
                <input id="edit-radio1" class="right-panel-radio" type="radio" name="correctOption" value="option 2">
                <input id="edit-option2" class="test-textbox right_panel_inputs" type="text" placeholder="Option B">
            </div>
            <div class="right-panel-row">
                <input id="edit-radio1" class="right-panel-radio" type="radio" name="correctOption" value="option 3">
                <input id="edit-option3" class="test-textbox right_panel_inputs" type="text" placeholder="Option C">
            </div>
            <div class="right-panel-row">
                <input id="edit-radio1" class="right-panel-radio" type="radio" name="correctOption" value="option 4">
                <input id="edit-option4" class="test-textbox right_panel_inputs" type="text" placeholder="Option D">
            </div>

            <div class="right-panel-row-button">
                <button id="resetBtn" class="basicBtn">Reset Question</button>
                <button id="saveQuestionBtn"class="basicBtn">Save Changes</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/testDetail.js' %}"></script>
</body>
</html>
