{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height= device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <title>Manage Tests</title>
</head>
<body>
    <div class= "full-page">
<!--Left side nav-->
            <div class="sidenav">
    <!--Side nav list items-->
                <ul class= "sidenav-list">
                    <li>
                        <div class="list-item">
                            <a href="./dashboard">
                                <img src="{% static 'images/white/icon_white_dashboard.svg' %}"/>
                                <h6>Dashboard</h6>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <a href="./employee">
                                <span><img src="{% static 'images/white/icon_white_employee.svg' %}"/></span>
                                <h6>Employees</h6>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <a href="./test">
                                <span><img src="{% static 'images/white/icon_white_test.svg' %}"/></span>
                                <h6>Manage Tests</h6>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
    <!--########### Side nav list items - END ###########-->
<!--########### Left Side bar - END ###########-->
            <!--Main Section-->
            <div class="main-section">
                <div class="topbar">
                  <input id="searchBar" type="text" placeholder="Search employee">
                  <div id="userIcon"></div>
                </div>
    <!--Filter section-->
                <div class="filter-section">
                    <div id="filter-title"><h3>Manage Tests</h3></div>
                  <div id="filter-contents">
                    <div style="display: flex;">
                      <div>
                        <label class="filter-labels">Station</label><br>
                        <select id="station-filter" class="test-select">
                            <option  class="select_option" selected="selected">Select Station</option>
                            <option class="select_option">Station 1</option>
                            <option class="select_option">Station 2</option>
                            <option class="select_option">Station 3</option>
                            <option class="select_option">Station 4</option>
                        </select>
                      </div>
                      <div style="margin-left: 10px;">
                        <label class="filter-labels">Stage</label><br>
                        <select id="stage-filter" class="test-select">
                            <option  class="select_option" selected="selected">Select Stage</option>
                            <option class="select_option">Stage 1</option>
                            <option class="select_option">Stage 2</option>
                            <option class="select_option">Stage 3</option>
                            <option class="select_option">Stage 4</option>
                        </select><br>
                      </div> 
                    </div>
                      <div style="float: right; margin-top: 10px;"> 
                        <button type="button" id="deleteTestBtn" class="delete-button" disabled>Delete</button>
                        <button type="button" id="clearFilterBtn" class="delete-button">Clear Filters</button>
                        <button id="addTestBtn" type="button" class="create-test">Create Test</button> 
                      </div>
                  </div>
             
                </div>
    <!--########### Filter Section - END ###########-->

    <!--Modal section-->
    <div id="id_modal_shadow" class="modal_shadow">
        <div id="id_modal_box" class="modal_box">
            <form>
                <header class="modal-header">
                  <div class="modalHeaderTitle">
                    <h5>Test Details</h5>
                  </div>
                </header>
                <div class="modal-body">  
                  <div style="flex-basis: 100%;">
                    <label id="first-modal-label">Test Title</label><br>
                    <input id="new-title" class="test-textbox modal_inputs" type="text" placeholder="Title">
                  </div>

                  <div style="flex-grow: 1; margin-right: 20px;">
                    <label class="modal_labels">Station</label><br>
                    <select id="new-station" class="test-select">
                        <option  class="select_option" selected="selected">Select Stage</option>
                        <option class="select_option">Stage 1</option>
                        <option class="select_option">Stage 2</option>
                        <option class="select_option">Stage 3</option>
                        <option class="select_option">Stage 4</option>
                    </select>
                  </div>

                  <div style="flex-grow: 1;">
                    <label class="modal_labels">Stage</label><br>
                    <select id="new-stage" class="test-select">
                        <option  class="select_option" selected="selected">Select Stage</option>
                        <option class="select_option">Stage 1</option>
                        <option class="select_option">Stage 2</option>
                        <option class="select_option">Stage 3</option>
                        <option class="select_option">Stage 4</option>
                    </select>
                  </div>

                  <div style="display: flex; flex-basis: 100%; justify-content: space-between;">
                    <div>
                        <label class="modal_labels">Total Questions</label><br>
                        <input id="new-questionNo" class="test-textbox modal_inputs" type="number" placeholder="Questions">
                    </div>

                    <div>
                        <label class="modal_labels">Time</label><br>
                        <input id="new-time" class="test-textbox  modal_inputs" type="number" placeholder="Time (mins)">
                    </div>

                    <div>
                        <label class="modal_labels">Passing Marks</label><br>
                        <input id="new-marks" class="test-textbox modal_inputs" type="number" placeholder="Marks">
                    </div>
                  </div>
                  <div class="modal-buttons">
                    <button id="cancelNewBtn" type="cancel">Cancel</button>
                    <button id="submitNewBtn" type="submit">Save</button>
                  </div>
                </div>
              </form>
        </div>
      </div>
    <!--########### Modal Section - END ###########-->

    <!--Table section-->
                <div class="table-section">
                    <table class="table-content">
                        <tr>    
                            <th><input type="checkbox"></th>
                            <th>Title</th>
                            <th>Station</th>
                            <th>Stage</th>
                            <th>Total Questions</th>
                            <th>Passing Percentage</th>
                            <th>Time</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Some test title 1</td>
                            <td>Station name 1</td>
                            <td>8</td>
                            <td>25</td>
                            <td>40</td>
                            <td>30 mins</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Some test title 2</td>
                            <td>Station name 2</td>
                            <td>6</td>
                            <td>25</td>
                            <td>40</td>
                            <td>30 mins</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Some test title 3</td>
                            <td>Station name 3</td>
                            <td>4</td>
                            <td>20</td>
                            <td>40</td>
                            <td>15 mins</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Some test title 4</td>
                            <td>Station name 4</td>
                            <td>2</td>
                            <td>25</td>
                            <td>40</td>
                            <td>30 mins</td>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Some test title 1</td>
                            <td>Station name 1</td>
                            <td>2</td>
                            <td>25</td>
                            <td>40</td>
                            <td>30 mins</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Some test title 1</td>
                            <td>Station name 1</td>
                            <td>2</td>
                            <td>25</td>
                            <td>40</td>
                            <td>30 mins</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Some test title 1</td>
                            <td>Station name 1</td>
                            <td>2</td>
                            <td>25</td>
                            <td>40</td>
                            <td>30 mins</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Some test title 1</td>
                            <td>Station name 1</td>
                            <td>2</td>
                            <td>25</td>
                            <td>40</td>
                            <td>30 mins</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Some test title 1</td>
                            <td>Station name 1</td>
                            <td>2</td>
                            <td>25</td>
                            <td>40</td>
                            <td>30 mins</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Some test title 1</td>
                            <td>Station name 1</td>
                            <td>2</td>
                            <td>25</td>
                            <td>40</td>
                            <td>30 mins</td>
                        </tr>
                    </table>
                </div>
    <!--########### Table Section - END ###########-->
            </div>
<!--########### Main Section - END ###########-->
    </div>
    </div>

    <script src="{% static 'JS/test.js' %}"></script>
</body>
</html>