#header 
{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #36324A;
    color: #ffc;
    overflow: hidden;
}

#content h1
{
    color: #000
}

.module h2, .module caption, .inline-group h2 
{
    background: #36324A;
    color: #fff;
}

#content-main tbody a:link, a:visited 
{
    color: #000;
    text-decoration: none;
}

#content-related 
{
    background: #36324A;
}

#content-related .module h2
{
    background: none;
    padding: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eaeaea;
    font-size: 18px;
    color: #fff;
}

#content-related h3 
{
    font-size: 14px;
    color: #fff;
    padding: 0 16px;
    margin: 0 0 16px;
}

#content-related p 
{
    color: #fff;
} 

.changelink a
{
    color: #efb80b;
}

.addlink a
{
    color: #70bf2b;
}

.deletelink 
{
    color:#dd4646
}

div.breadcrumbs 
{
    background: #31c9b4;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #000;
    text-align: left;
}

div.actions 
{
    padding: 10px;
    background: #000;
    border-top: none;
    border-bottom: none;
    line-height: 24px;
    color: #999;
}

.module 
{
    border: none;
    margin-bottom: 30px;
    background: #dfdfdf;
}

body 
{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #dfdfdf;
}
